@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the MoneyKeeper</h1>
    <a asp-action="RhinoLogin" asp-controller="Account">Login with Rhino Identity</a>
</div>
